body{
  font-family: sans-serif;
  margin: 0;
  background: radial-gradient(circle,rgba(255, 0, 0, 1) 0%, rgba(130, 46, 46, 1) 50%, rgba(0, 0, 0, 1) 100%);

    color:white ;
}
.header { 
   
}
.main{

}
.Dastin {
    text-decoration:none ;
    color: red ;
}
img {
    border-radius:20px ;
    margin:0 auto ;
}
a {
    text-decoration:none ;
    font-size:26px;
    color:#A84343 ;
    background-color:#5C2121 ;
    padding:10px 20px ;
    border-radius:10px ;
}
nav {
    display:flex;
    align-items: center;
}
